* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #f40;
}

:root {
    background: black;
}

body,
html,
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    height: 80%;
}

.content ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.content ul .pic {
    border-radius: 20px;
    width: 16%;
    height: 100%;
    position: relative;
    overflow: hidden;
    opacity: 0.5;
    transition: opacity 0.5s linear, width 1s linear,height 1s linear;
    background-color: #202020
}

.content ul .pic:hover {
    opacity: 1;
}

.content ul .pic .bg {
    background-size: cover;
    background-position: top;
}

.content ul .pic .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    animation: enter 1s linear forwards;

}

.content ul .pic:nth-of-type(1) .inner {
    animation-delay: 0s
}

.content ul .pic:nth-of-type(2) .inner {
    animation-delay: 0.2s

}

.content ul .pic:nth-of-type(3) .inner {
    animation-delay: 0.4s

}

.content ul .pic:nth-of-type(4) .inner {
    animation-delay: 0.6s

}

.content ul .pic:nth-of-type(5) .inner {
    animation-delay: 0.8s

}

.content ul .pic:nth-of-type(6) .inner {
    animation-delay: 1s

}


@keyframes enter {
    0% {
        top: 100%;
    }

    100% {
        top: 0%;
    }
}

.pic:nth-of-type(1) .bg {
    width: 100%;
    height: 100%;
    background-image: url(./p1.jpg);
}

.pic:nth-of-type(2) .bg {
    width: 100%;
    height: 100%;
    background-image: url(./p2.jpg);
}

.pic:nth-of-type(3) .bg {
    width: 100%;
    height: 100%;
    background-image: url(./p3.png);
}

.pic:nth-of-type(4) .bg {
    width: 100%;
    height: 100%;
    background-image: url(./p4.jpg);
}

.pic:nth-of-type(5) .bg {
    width: 100%;
    height: 100%;
    background-image: url(./p5.jpg);
}

.pic:nth-of-type(6) .bg {
    width: 100%;
    height: 100%;
    background-image: url(./p6.jpg);
}

.wrapper .content .pic .title {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    user-select: none;
    transition: font-size 0.5s linear;
    font-family: "myfont";
    cursor: pointer;
}

.wrapper .content .pic:hover .title {
    font-size: 25px;
    font-weight: 900;
}

@font-face {
    font-family: "myfont";
    src: url(./ClassyBeautiful.ttf);
}
.wrapper.activeWrapper .content .pic{
    transition: width 1s linear,height 1s linear;
}
.wrapper .content .pic .header .name,.wrapper .content .pic .header .close{
    opacity: 0;
    transform: rotate(0deg);
}
.wrapper.activeWrapper .content .pic.active{
    width: 100%;
    height: 100%;
}
.wrapper.activeWrapper .content .pic.active .title{
    opacity: 0;
    transition: opacity 1s linear;
}
.wrapper.activeWrapper .content .pic:not(.active){
    width: 0%;
    height: 0%;
}
.wrapper .content .pic.active .header{
    width: 100%;
    height: 30px;
    position: absolute;
    color: #000;
    top: 20px;
    display: flex;
    justify-content:space-between;
    align-content: center;
}
.wrapper .content .pic.active .header .name{
    line-height: 30px;
    display: inline-block;
    font-size: 30px;
    font-weight: 900;
    font-family: "myfont";
    color: rgb(24, 145, 214);
    opacity: 1;
    padding-left: 50px;
    transition: opacity 1s linear;
    cursor: pointer;
}
.wrapper .content .pic.active .header .close{
    line-height: 30px;
    font-size: 30px;
    font-weight: 900;
    font-family: "myfont";
    color: rgb(24, 145, 214);
    opacity: 1;
    margin-right: 50px;
    transform: rotate(720deg);
    transition: opacity 1s linear 1s,transform 2s linear;
    cursor: pointer;
}

